@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  color: #432;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3";
  line-height: 1.6;
}

a {
  color: #432;
  font-size: 1.6rem;
  text-decoration: none;
}

/* 共通クラス */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/* Headerクラス */
.page-header {
  display: flex;
  justify-content: space-between;
}

.page-header h1 {
  font-family: "Grape Nuts", cursive;
  font-size: 4.8rem;
}

.header-nav {
  margin-top: 20px;
}

.header-nav .nav-input,
.header-nav .nav-button {
  display: none;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-content ul li {
  margin-left: 40px;
}

.nav-content a {
  text-transform: uppercase;
  background-image: linear-gradient(#6495ed, #6495ed);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  transition: background-size 0.4s;
}

.nav-content a:hover {
  color: #6495ed;
  background-size: 100% 1px;
}

/* メインビジュアルclass */
.page-main-visual {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

/* Conceptクラス */
.page-concept {
  margin-top: 110px;
}

.concept-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.concept-content {
  margin: 40px auto 0 auto;
  max-width: 600px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 3;
}

/* Abountクラス */
.page-about {
  position: relative;
  margin-top: 100px;
  height: 700px;
}

.about-head {
  position: absolute;
  left: 120px;
  padding: 50px 50px 40px 50px;
  width: 550px;
  background: #fff;
  z-index: 99;
}

.about-title {
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-content {
  margin: 40px auto 0 auto;
  font-size: 1.4rem;
  line-height: 2.4;
}

.about-image {
  position: absolute;
  top: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.about-image img {
  width: 100vw;
  height: 350px;
  object-fit: cover;
}

/* Skillクラス */
.page-skill {
  margin-top: 50px;
}

.skill-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.skill-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  margin: 40px auto 0 auto;
  max-width: 90%;
}

.skill-content-item {
  padding: 30px;
  height: 400px;
  text-align: center;
  border: #333 solid 1px;
}

.skill-content-item span {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 55px;
  border: #333 solid 3px;
  border-radius: 50%;
}

.item-title {
  margin-top: 30px;
}

.item-title img {
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.item-title h3 {
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.skill-content-item p {
  margin-top: 30px;
  font-size: 1.4rem;
  text-align: left;
}

/* Workクラス */
.page-work {
  margin-top: 80px;
}

.work-title {
  text-align: left;
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.work-subtitle {
  margin-top: 30px;
  font-size: 1.6rem;
}

.work-content {
  display: flex;
  gap: 100px;
  margin-top: 50px;
}

.work-item-title {
  position: relative;
}

.work-item-title h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  padding: 10px 60px;
  font-size: 1.8rem;
  font-weight: normal;
  background: #fff;
  border: #333 solid 1px;
}

.work-item-description {
  margin-top: 30px;
  font-size: 1.4rem;
  line-height: 2;
}

.work-item-detail {
  margin-top: 30px;
}

.detail-content span,
p {
  font-size: 1.4rem;
}

.detail-content span {
  float: left;
  position: relative;
  width: 100px;
}

.detail-content span::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 20px;
  height: 1px;
  width: 10px;
  background: #333;
}

.detail-content p {
  float: right;
  width: calc(100% - 100px);
}

#qa {
  height: 500px;
}

@media (max-width: 700px) {
  .page-header {
    height: 60px;
  }

  .page-header h1 {
    margin: 13px 0 0 20px;
    width: 80%;
    font-size: 2.4rem;
  }

  .header-nav {
    width: 100%;
    height: 100%;
  }

  .header-nav .nav-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 25px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    z-index: 999;
  }

  .nav-button span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #432;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  .nav-button span:nth-child(1) {
    top: 0;
  }

  .nav-button span:nth-child(2) {
    top: 10px;
  }

  .nav-button span:nth-child(3) {
    top: 20px;
  }

  .nav-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffafa;
    text-align: center;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    z-index: 99;
  }

  .nav-content-menu {
    margin-top: 20%;
  }

  .nav-content ul {
    flex-direction: column;
    margin-top: 80px;
    padding-inline-start: 0;
  }

  .nav-content ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .nav-content a:visited ~ .header-nav .nav-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 25px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    z-index: 999;
  }

  .nav-content a:visited ~ .nav-button span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #432;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  .nav-content a:visited ~ .nav-button span:nth-child(1) {
    top: 0;
  }

  .nav-content a:visited ~ .nav-button span:nth-child(2) {
    top: 10px;
  }

  .nav-content a:visited ~ .nav-button span:nth-child(3) {
    top: 20px;
  }

  .nav-content a:visited ~ .nav-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffafa;
    text-align: center;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    z-index: 99;
  }

  #nav-input:checked ~ .nav-button span:nth-child(1) {
    top: 6px;
    right: 0;
    background: #333;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  #nav-input:checked ~ .nav-button span:nth-child(3) {
    top: 6px;
    right: 0;
    background: #333;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  #nav-input:checked ~ .nav-button span:nth-child(2) {
    display: none;
  }

  #nav-input:checked ~ .nav-content {
    transform: translate(0%);
  }

  /* メインビジュアルclass */
  .page-main-visual {
    height: 50vh;
    object-fit: cover;
  }

  /* Conceptクラス */
  .page-concept {
    margin-top: 50px;
  }

  .concept-title {
    font-size: 1.8rem;
    letter-spacing: 4px;
  }

  .concept-content {
    margin: 20px auto 0 auto;
    max-width: 340px;
    font-size: 1.4rem;
    line-height: 2.2;
  }

  /* Abountクラス */
  .page-about {
    margin: 50px 20px 0;
    height: 100%;
  }

  .about-head {
    position: static;
    left: 0;
    padding: 0;
    width: 100%;
    min-height: 0;
  }

  .about-title {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }

  .about-content {
    margin: 20px auto 0 auto;
    max-width: 100%;
    font-size: 1.4rem;
    line-height: 2.2;
  }

  .about-image {
    position: relative;
    top: 0;
    display: block;
    margin-top: 30px;
    height: 350px;
  }

  .about-image img {
    position: absolute;
    width: 250px;
    height: 160px;
    object-fit: cover;
  }

  .about-image-02 {
    right: 0;
    bottom: 0;
  }

  /* Skillクラス */
  .page-skill {
    margin-top: 50px;
  }

  .skill-title {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }

  .skill-content {
    display: block;
    margin-top: 20px;
  }

  .skill-content-item {
    display: flex;
    margin-bottom: 10px;
    padding: 0 20px;
    height: 200px;
  }

  .skill-content-item span {
    margin: auto;
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
    line-height: 38px;
    border: #333 solid 2px;
  }

  .item-right {
    flex: 1;
    margin-left: 20px;
  }

  .item-title {
    display: flex;
    margin-top: 40px;
  }

  .item-title img {
    margin: 0;
    width: 20px;
    height: 20px;
  }

  .item-title h3 {
    margin-top: 0;
    margin-left: 10px;
    font-size: 1.6rem;
    letter-spacing: 1px;
  }

  .skill-content-item p {
    margin-top: 10px;
  }

  /* Workクラス */
  .page-work {
    margin-top: 60px;
    width: 90%;
  }

  .work-title {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }

  .work-subtitle {
    margin-top: 20px;
  }

  .work-content {
    display: block;
    margin-top: 30px;
  }

  .work-item {
    margin-bottom: 50px;
    height: 400px;
  }

  .work-item-title h3 {
    padding: 8px 45px;
    font-size: 1.6rem;
  }

  .work-item-description {
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
  }

  .work-item-detail {
    margin-top: 20px;
  }

  .detail-content span,
  p {
    font-size: 1.2rem;
  }

  .detail-content span {
    width: 80px;
  }

  .detail-content span::after {
    right: 10px;
  }

  .detail-content p {
    width: calc(100% - 80px);
  }
}
