@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  color: #432;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3";
  line-height: 1.6;
}

a {
  color: #432;
  font-size: 1.6rem;
  text-decoration: none;
}

/* 共通クラス */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

/* Headerクラス */
.page-header {
  display: flex;
  justify-content: space-between;
}

.page-header h1 {
  font-family: "Grape Nuts", cursive;
  font-size: 4.8rem;
}

.header-nav {
  margin-top: 20px;
}

.header-nav .nav-input,
.header-nav .nav-button {
  display: none;
}

.nav-content ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-content ul li {
  margin-left: 40px;
}

.nav-content a {
  text-transform: uppercase;
  background-image: linear-gradient(#6495ed, #6495ed);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  transition: background-size 0.4s;
}

.nav-content a:hover {
  color: #6495ed;
  background-size: 100% 1px;
}

/* メインビジュアルclass */
.page-main-visual {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

/* Conceptクラス */
.page-concept {
  margin-top: 110px;
}

.concept-title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.concept-content {
  margin: 50px auto 0 auto;
  max-width: 800px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.4;
}

/* Abountクラス */
.page-about {
  position: relative;
  margin-top: 110px;
  height: 700px;
}

.about-head {
  position: absolute;
  left: 120px;
  padding: 50px;
  width: 550px;
  min-height: 250px;
  background: #fff;
  z-index: 99;
}

.about-title {
  font-size: 2.4rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-content {
  margin: 30px auto 0 auto;
  font-size: 1.6rem;
  line-height: 2.4;
}

.about-image {
  position: absolute;
  top: 250px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.about-image img {
  width: 100vw;
  height: 350px;
  object-fit: cover;
}

#skill,
#work,
#qa {
  height: 500px;
}

@media (max-width: 700px) {
  .page-header h1 {
    margin: 15px 0 0 20px;
    width: 80%;
    font-size: 2.4rem;
  }

  .header-nav {
    width: 100%;
    height: 100%;
  }

  .header-nav .nav-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 25px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    z-index: 999;
  }

  .nav-button span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #432;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  .nav-button span:nth-child(1) {
    top: 0;
  }

  .nav-button span:nth-child(2) {
    top: 10px;
  }

  .nav-button span:nth-child(3) {
    top: 20px;
  }

  .nav-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffafa;
    text-align: center;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    z-index: 99;
  }

  .nav-content-menu {
    margin-top: 20%;
  }

  .nav-content ul {
    flex-direction: column;
    margin-top: 80px;
    padding-inline-start: 0;
  }

  .nav-content ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .nav-content a:visited ~ .header-nav .nav-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 25px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    z-index: 999;
  }

  .nav-content a:visited ~ .nav-button span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #432;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }

  .nav-content a:visited ~ .nav-button span:nth-child(1) {
    top: 0;
  }

  .nav-content a:visited ~ .nav-button span:nth-child(2) {
    top: 10px;
  }

  .nav-content a:visited ~ .nav-button span:nth-child(3) {
    top: 20px;
  }

  .nav-content a:visited ~ .nav-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffafa;
    text-align: center;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    z-index: 99;
  }

  #nav-input:checked ~ .nav-button span:nth-child(1) {
    top: 6px;
    right: 0;
    background: #333;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  #nav-input:checked ~ .nav-button span:nth-child(3) {
    top: 6px;
    right: 0;
    background: #333;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  #nav-input:checked ~ .nav-button span:nth-child(2) {
    display: none;
  }

  #nav-input:checked ~ .nav-content {
    transform: translate(0%);
  }

  /* メインビジュアルclass */
  .page-main-visual {
    height: 50vh;
    object-fit: cover;
  }

  /* Conceptクラス */
  .page-concept {
    margin-top: 40px;
  }

  .concept-title {
    font-size: 2rem;
    letter-spacing: 5px;
  }

  .concept-content {
    margin: 10px auto 0 auto;
    max-width: 370px;
    font-size: 1.6rem;
    line-height: 2;
  }

  /* Abountクラス */
  .page-about {
    margin-top: 40px;
    margin: 50px 20px 0;
    height: 600px;
  }

  .about-head {
    position: static;
    left: 0;
    padding: 0;
    width: 100%;
    min-height: 0;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-content {
    margin: 10px auto 0 auto;
    max-width: 100%;
    font-size: 1.6rem;
    line-height: 2;
  }

  .about-image {
    position: relative;
    top: 0;
    display: block;
    margin-top: 40px;
    height: 350px;
  }

  .about-image img {
    position: absolute;
    width: 250px;
    height: 160px;
    object-fit: cover;
  }

  .about-image-01 {
  }

  .about-image-02 {
    right: 0;
    bottom: 0;
  }
}
